*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #3b384d;
}

.contenido__cuerpo__titulo{
    text-align: center;
    padding: 10px;
    border: 2px solid #00eeff;
}
.navbar-toggler{
    color: white;
    border: solid 5px white;
}
.contenido__parrafo__p{
    font-size: 30px;
}

.titulo__principal{
    font-size: 36px;
    width: 100%;
    padding: 12px 20px;
    background-color: #35C3CA;
    color: white;
    text-align: center;
 
}

.contenedor__parrafo{
    padding: 15px;
    flex-wrap: wrap;
    background-color: #3b384d;
    color: white;
}


footer{
    text-align: center;
    color: rgb(255, 0, 0);
}
/*comienzo pagina fletes*/

.container-servicio{
    padding: 10px 10px;
    margin: 60px 30px 0px 30px;
    text-align: center;
}


.contenido-servicio p{
    color: aliceblue;
    font-size: 20px;
}


.titulo__principal{
    font-size: 35px;
}


.carousel-inner{
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    
}

.d-block{
    height: 25vh;
    width: 40%;
}


#accordionFlushExample{

    margin-left: auto;
    margin-right: auto;
    text-align: center;

}


.container{
    border: outset 5px #35C3CA;
   
}
.row{
    display: flex;
    flex-direction: column;
    color: aliceblue; 
}
.col{
    border: solid gray 2px;
    text-align: center;
}

.chofer1{
    width: 80%;
    padding: auto;
    height: 20vh;
}

.chofer{
   width: 70%;
    padding: auto;
    height: 30vh;
    
   
}

.navbar{
    border: solid 2px #f1f1f1;
}

.whatsapp{
   font-size: xx-large;
}

.instagram{
    font-size: xx-large;
}
.twitter{
    font-size: xx-large;
}

@media only screen and (min-width: 1280px){

    .carousel-item img {
        width: 500px;
        height: 500px;
        margin: 10px ;
    }
    .row{
        display: flex;
        flex-direction: row;
        width: auto;
        
    }


    .col{
        width: 30%;
        height: 40vh;
        
    }

    .chofer1{
        width: 80%;
        height: 25vh;
    }
   

    .chofer{
        width: 80%;
        height: 30vh;
    }
   


}